@keyframes ani-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ani-zoom {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ani-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity $animate-time;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slider-left-enter-active,
.slider-left-leave-active {
  transition: transform $animate-time;
}

.slider-left-leave-to,
.slider-left-enter-from {
  transform: translate(100%, 0);
}

.slider-right-enter-active,
.slider-right-leave-active {
  transition: transform $animate-time;
}

.slider-right-enter-from,
.slider-right-leave-to {
  transform: translate(-100%, 0);
}

.slider-bottom-enter-active,
.slider-bottom-leave-active {
  transition: all $animate-time;
}

.slider-bottom-enter-from,
.slider-bottom-leave-to {
  opacity: 0;
  transform: translate(0, -100%);
}

.slider-top-enter-active,
.slider-top-leave-active {
  transition: all $animate-time;
}

.slider-top-enter-from,
.slider-top-leave-to {
  opacity: 0;
  transform: translate(0, 100%);
}

.ani-zoom {
  animation: ani-zoom $animate-time ease-in-out;
}

.ani-fade {
  animation: ani-fade $animate-time ease-in-out;
}

.ani {
  transition: all ease-in-out $animate-time;
}

.ani-loading {
  animation: ani-loading 0.5s linear infinite;
}
