@import "~/normalize.css/normalize.css";
@import "~/reset-css/reset.css";
@import "~/nprogress/nprogress.css";
@import "./var.scss";
@import "./mixin.scss";
@import "./flex.scss";
@import "./common.scss";
@import "./animate.scss";

* {
  user-select: none;
}

a {
  text-decoration: none;
}

.app-mobile {
  .n-layout-sider {
    position: fixed;
    height: 100%;
    z-index: 99;
  }
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.n-back-top {
  z-index: 99;
}

.logo {
  height: 22px;
}

.setting-drawer {
  max-width: 500px;
}

.color-box {
  width: 16px;
  height: 16px;
}

#nprogress .bar {
  background: var(--primary-color);
}

#nprogress .spinner-icon {
  border-left-color: var(--primary-color);
  border-top-color: var(--primary-color);
}

#nprogress .peg {
  box-shadow: 0 0 20px var(--primary-color), 0 0 15px var(--primary-color);
}

.empty-box {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-list {
  min-height: 60vh;
}

.video-item {
  cursor: pointer;

  .cover {
    transition: all 0.2s ease-in-out;
    position: relative;
    height: 20vw;
    max-height: 310px;
    min-height: 200px;
    border-radius: 6px;
    overflow: hidden;
  }

  .tag {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1;
    background-color: rgba($color: #000, $alpha: 0.4);
    color: #fff;
    padding: 6px 10px 6px 17px;
    border-radius: 20px 0 0 20px;
  }

  .content {
    height: 70px;
  }

  &:hover {
    .cover {
      transform: scale(1.03);
      filter: saturate(1.5) contrast(120%);
    }
  }
}

.video-player-container {
  background-color: #000;
}

.video-player {
  height: calc(100vh - 100px);
  width: 100%;
}

@media (max-width: 640px) {
  .video-info {
    display: block;
  }

  .video-cover {
    margin-bottom: var(--offset-3);
  }
}

@media (min-width: 640px) {
  .video-cover {
    width: 30vw;
    max-width: 300px;
    margin-right: var(--offset-3);
  }

  .video-info-small {
    .video-cover {
      width: 23vw;
      max-width: 180px;
      margin-right: var(--offset-5);
    }
  }
}

.video-cover {
  border-radius: 6px;
  overflow: hidden;
}

.login-page {
  background-color: #eee;

  .logo {
    height: 55px;
  }
}

.login-box {
  width: 90vw;
  max-width: 500px;
  border: 1px solid #ddd;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 6px;

  .label {
    width: 80px;
  }
}
