@font-face {
  font-family: "iconfont";  /* Project id 1809945 */
  src:
    url("//at.alicdn.com/t/font_1809945_0jju6x1aywpd.woff2?t=1636257350853") format("woff2"),
    url("//at.alicdn.com/t/font_1809945_0jju6x1aywpd.woff?t=1636257350853") format("woff"),
    url("//at.alicdn.com/t/font_1809945_0jju6x1aywpd.ttf?t=1636257350853") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
